<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title>Registration</title>
</head>
<body>
    <div layout:fragment="content" align="center">
        <div class="col-md-8 text-left">
            <h4 class="mb-3" th:inline="text">Registration</h4>
            <form class="needs-validation" novalidate method="post" th:object="${registrationForm}" th:action="@{/registration}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required
                               th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            Valid first name is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required
                               th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            Valid last name is required
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com"
                           th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                    <div class="invalid-feedback">
                        Please enter a valid email address
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address 1</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required
                           th:field="*{address1}" th:classappend="${#fields.hasErrors('address1')} ? 'is-invalid'">
                    <div class="invalid-feedback">
                        Please enter a valid address
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite"
                           th:field="*{address2}" th:classappend="${#fields.hasErrors('address2')} ? 'is-invalid'">
                    <div class="invalid-feedback">
                        Please enter a valid address
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required
                                th:field="*{country}" th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'">
                            <option value="">Choose...</option>
                            <option value="Ireland">Ireland</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">City</label>
                        <select class="custom-select d-block w-100" id="state" required
                                th:field="*{city}" th:classappend="${#fields.hasErrors('city')} ? 'is-invalid'">
                            <option value="">Choose...</option>
                            <option value="Dublin">Dublin</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid city
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required
                               th:field="*{zip}" th:classappend="${#fields.hasErrors('zip')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            Please provide a valid Zip Code
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Date of Birth <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="dateOfBirth" placeholder="dd/MM/yyyy"
                           th:field="*{dateOfBirth}" th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid'">
                    <div class="invalid-feedback">
                        Please enter a valid Date Of Birth
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>