<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{registration.title}">...</title>
</head>
<body>
<div layout:fragment="content" align="center">
    <div class="col-md-8 text-left">
        <h4 class="mb-3" th:inline="text" th:text="#{registration.title}">...</h4>
        <form class="needs-validation" novalidate method="post" th:object="${customerForm}"
              th:action="@{/registration}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" th:text="#{registration.firstName}">...</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required
                           th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:text="#{registration.firstName.error}">...</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" th:text="#{registration.lastName}">...</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required
                           th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:text="#{registration.lastName.error}">...</span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">
                    <span th:text="#{registration.email}">...</span>
                    <span class="text-muted" th:text="#{registration.optional}">...</span>
                </label>
                <input type="email" class="form-control" id="email"
                       th:field="*{email}"
                       th:placeholder="#{registration.email.placeholder}"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
                <div class="invalid-feedback">
                    <span th:text="#{registration.email.error}">...</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="dateOfBirth">
                    <span th:text="#{registration.dateOfBirth}">...</span>
                    <span class="text-muted" th:text="#{registration.optional}">...</span>
                </label>
                <input type="text" class="form-control" id="dateOfBirth"
                       th:field="*{dateOfBirth}"
                       th:placeholder="#{registration.dateOfBirth.placeholder}"
                       th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid'" />
                <div class="invalid-feedback">
                    <span th:text="#{registration.dateOfBirth.error}">...</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="address" th:text="#{registration.address1}">...</label>
                <input type="text" class="form-control" id="address" required
                       th:field="*{address1}"
                       th:placeholder="#{registration.address1.placeholder}"
                       th:classappend="${#fields.hasErrors('address1')} ? 'is-invalid'" />
                <div class="invalid-feedback">
                    <span th:text="#{registration.address.error}">...</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="address2">
                    <span th:text="#{registration.address2}">...</span>
                    <span class="text-muted" th:text="#{registration.optional}">...</span>
                </label>
                <input type="text" class="form-control" id="address2"
                       th:field="*{address2}"
                       th:placeholder="#{registration.address1.placeholder}"
                       th:classappend="${#fields.hasErrors('address2')} ? 'is-invalid'" />
                <div class="invalid-feedback">
                    <span th:text="#{registration.address.error}">...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country" th:text="#{registration.country}">...</label>
                    <select class="custom-select d-block w-100" id="country" required
                            th:field="*{country}" th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'">
                        <option value="" th:text="#{registration.option.empty}">...</option>
                        <option th:value="#{registration.country.option1}" th:text="#{registration.country.option1}">...</option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:text="#{registration.country.error}">...</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state" th:text="#{registration.city}">...</label>
                    <select class="custom-select d-block w-100" id="state" required
                            th:field="*{city}" th:classappend="${#fields.hasErrors('city')} ? 'is-invalid'">
                        <option value="" th:text="#{registration.option.empty}">...</option>
                        <option th:value="#{registration.city.option1}" th:text="#{registration.city.option1}">...</option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:text="#{registration.city.error}">...</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zipCode" th:text="#{registration.zipCode}">...</label>
                    <input type="text" class="form-control" id="zipCode" placeholder="" required
                           th:field="*{zipCode}" th:classappend="${#fields.hasErrors('zipCode')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:text="#{registration.zipCode.error}">...</span>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" th:text="#{registration.submit}">...</button>
        </form>
    </div>
</div>
</body>
</html>

<script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>