<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{search.title}">Search</title>
</head>
<body>
<div layout:fragment="content" align="center">
    <div class="table-responsive-md">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{search.column.id}">#</th>
                <th scope="col" th:text="#{search.column.firstName}">First</th>
                <th scope="col" th:text="#{search.column.lastName}">Last</th>
                <th scope="col" th:text="#{search.column.email}">Email</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="customer : ${customerList}">
                <tr>
                    <th scope="row" th:text="${customer.id}">...</th>
                    <td th:text="${customer.firstName}">...</td>
                    <td th:text="${customer.lastName}">...</td>
                    <td th:text="${customer.email}">..</td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(customerList)}">
            <span th:text="#{search.no.customer.registered}">...</span>
        </div>
    </div>
</div>
</body>
</html>
